In [39]:
def my_sq(x):
    return x ** 2

def avg_2(x,y):
    return (x + y) / 2

def my_exp(x, e):
    return x ** e

def print_me(x):
    print(x)

def avg_3(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

def avg_2_apply(ser):
    x = ser.iloc[0]
    y = ser.iloc[1]
    return (x + y) / 2

In [4]:
import pandas as pd

df = pd.DataFrame({"a" : [10, 20, 30],
                  "b" : [20, 30, 40]})

df

    a   b
0  10  20
1  20  30
2  30  40

In [7]:
df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [11]:
df['a'].apply(my_exp, e = 3)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [15]:
df.apply(print_me, axis = 0)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [26]:
df.apply(avg_3)

a    20.0
b    30.0
dtype: float64

In [36]:
df.apply(avg_2_apply, axis = 1)

0    15.0
1    25.0
2    35.0
dtype: float64

In [37]:
df['a_sq_lamb'] = df['a'].apply(lambda x : x ** 2)
df

    a   b  a_sq_lamb
0  10  20        100
1  20  30        400
2  30  40        900

In [79]:
avg_2(df['a'], df['b'])

0    15.0
1    25.0
2    35.0
dtype: float64

In [87]:
import numpy as np

def avg_2_mod(x,y):
    result = []
    for i in range(len(x)):
        if(x[i] == 20):
            result.append(np.nan)
        else:
            result.append((x[i]+y[i]) / 2)
    return pd.Series(result)

def avg_2_mod_a(x,y):
    if(x == 20):
        return np.nan
    else:
        return (x + y) / 2

avg_2_mod_vec = np.vectorize(avg_2_mod_a)

In [88]:
avg_2_mod(df['a'], df['b'])

0    15.0
1     NaN
2    35.0
dtype: float64

In [89]:
avg_2_mod_vec(df['a'], df['b'])

array([15., nan, 35.])

In [90]:
@np.vectorize
def v_avg_2_mod(x, y):
    if (x == 20):
        return np.nan
    else:
        return (x + y) / 2

v_avg_2_mod(df['a'], df['b'])

array([15., nan, 35.])

In [ ]:
import numba

@numba.verctorize
def v_avg_2_numba(x, y):
    if(int(x) == 20):
        return np.nan
    else:
        return (x + y) / 2