In [2]:
import pandas as pd

s = pd.Series(['banana', 42])
s

0    banana
1        42
dtype: object

In [3]:
s = pd.Series(data=['Wes McKinney', 'Creator of Pandas'], index = ['Person', 'Who'])
s

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [4]:
scientists = pd.read_csv('../data/scientists.csv')
scientists

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [7]:
scientist = pd.DataFrame({
    "Name": ["Rosaline Franklin", "William Gosset"],
    "Occupation": ["Chemist", "Statistician"],
    "Born": ["1920-07-25", "1876-06-13"],
    "Died": ["1958-04-16", "1937-10-16"],
    "Age": [37, 61]
})
scientist

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [15]:
scientist = pd.DataFrame(
    data = {
    "Occupation": ["Chemist", "Statistician"],
    "Born": ["1920-07-25", "1876-06-13"],
    "Died": ["1958-04-16", "1937-10-16"],
    "Age": [37, 61]
    },
    index = ["Rosaline Franklin", "William Gosset"],
    columns = ["Occupation", "Born", "Died", "Age"],
)
scientist

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [16]:
first_row = scientist.loc['William Gosset']
type(first_row)

pandas.core.series.Series

In [17]:
first_row

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [18]:
first_row.index

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [19]:
first_row.values

array(['Statistician', '1876-06-13', '1937-10-16', np.int64(61)],
      dtype=object)

In [20]:
first_row.keys()

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [21]:
first_row.index[0]

'Occupation'

In [22]:
first_row.keys()[0]

'Occupation'

In [23]:
ages = scientists['Age']
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [24]:
ages = scientist['Age']
ages

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [26]:
ages.mean()

np.float64(49.0)

In [27]:
ages.min()

np.int64(37)

In [29]:
ages.max()

np.int64(61)

In [30]:
ages.std()

np.float64(16.97056274847714)